body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: auto minmax(80dvh, auto) 15dvh;
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#FFC85C;
}


/***    Style de la barre de navigation    ***/


nav {
    z-index: 7;
    background-color: #053442;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 20% 20% 20% 20% auto;
    
    box-shadow: 0 2px 5px 0 #323031bc;
    transition: 0.5s ease-out;
}

nav:hover {
    transition: 0.5s ease-in;
    box-shadow: 0 5px 5px 0 #323031bc;
}

nav a {
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-out;
    color:#FFC85C;
    font-size: max(1.1vw, 12px);
}

nav a:hover {
    color:#DB3A34;
    background-color: #052f3bc6;
    transition: 0.3s ease-in;
}

/***    Style du contenu principal     ***/

main {

    /* jet black and silver white band 

    background: rgb(50,48,49);
    background: linear-gradient(90deg, rgba(50,48,49,1) 0%, rgba(237,237,237,1) 30%, rgba(237,237,237,1) 70%, rgba(50,48,49,1) 100%);
    */

    /* silver white and jet black band 

    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(50,48,49,1) 30%, rgba(50,48,49,1) 70%, rgba(237,237,237,1) 100%);
    */

    /* dark steel blue gradient 

    background: rgb(8,76,97);
    background: linear-gradient(117deg, rgba(8,76,97,1) 0%, rgba(44,44,121,1) 64%, rgba(23,126,137,1) 100%);
    */

    background: rgb(8,76,97);
    background: linear-gradient(121deg, rgba(8,76,97,1) 0%, rgba(23,126,137,1) 100%);

    /* light orange white gradient

    background: rgb(237,237,237);
    background: linear-gradient(117deg, rgba(237,237,237,1) 47%, rgba(255,200,87,1) 64%);
    */

    overflow-y: auto;
    text-align: center;
}


.logo {
    display: block;
    width: 22vw;
    margin: 5% auto 0 auto;
}

.links {
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    text-decoration: none;
}

.links a {
    transition: 0.2s ease-out;
}

.links a:hover {
    transition: 0.2s ease-in;
    transform: scale(1.2);
}


.helloAssoLogo {
    width: 2pc;
}

.fa-discord {
    color:#7a78cb;
}

.fa-square-instagram {
    color: rgb(194, 194, 194);
}

.presentation {
    display: grid;
    grid-template-columns: auto 50% auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.side {
    height: 2px;
    background-color: #03232c88;
    width: 70%;
    align-self: center;
    justify-self: center;
    border-radius: 50px;
}

.gauche {
    grid-column: 1;
}

.pres {
    grid-column: 2;
    background-color: #042d3846;
    height: auto;
    min-height: 30rem;
    border-radius: 2px;
}

.droite {
    grid-column: 3;
}

.options {
    background-color: #FFC85C;
    color: #053442;
    margin-right: 10px;
    width: 15%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    line-height: 0;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 #323031bc;
    cursor: pointer;
    transition: 0.2s ease-out;
    min-width: 8em;
}

.options:hover {
    transition: 0.2s ease-in;
    transform: scale(1.03);
    background-color: #DB3A34;
    color: #FFC85C;
}


.nextEvents {
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 100%;
    grid-row: 5% 95%;
}

.currentEvents {
    width: 70%;
    min-width: 26rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    
}


.event {
    margin: 10vh auto 5vh auto;
    width: 35vh;
    height: 45vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 65% 25% 10%;
    background-color: #042d3846;
    box-shadow: 0 0 10px #084C61be;
    color: #edededb8;
    transition: 0.2s ease-out;
}


.event:hover {
    transition: 0.2s ease-in;
    transform: scale(1.01);
}

.illustration {
    grid-row: 1;
    grid-column: 1/-1;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #03232c;
}

.titre {
    margin: 0;
    height: 100%;
    grid-row: 2;
    grid-column: 1/-1;

}

.when {
    margin: 0;
    grid-row: 3;
    grid-column: 1;
    
}

.more {
    margin: 0;
    grid-row: 3;
    grid-column: 2;
    color: #03232c;
    transition: 0.2s ease-in;
}


.more:hover {
    color: #0d032c;
    transition: 0.2s ease-in;
}



/*** Page des événements ***/

.events {
    display: grid;
    grid-auto-rows: 35vh;
    color: #323031;
    row-gap: 25px;
    padding: 4vh 0 2vh 0;
}


.singleEvent {
    border-radius: 2px;
    margin: 0 auto 0 auto;
    width: 60%;
    background-color: #042d3846;
    box-shadow: 0 0 10px #084C61be;
    border: none;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 15% 60% 25%;
    transition: 0.2s ease-out;
    color: #edededb8;
}



.singleEvent:hover {
    transition: 0.2s ease-in;
    transform: scale(1.01);
}

.singleEvent img {
    height: 100%;
}

.imageEvent {
    grid-row: 1/-1;
    grid-column: 1;
    object-fit: contain;
    width: 100%;
}

.titreEvent {
    margin: auto;
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    font-size: 2.5vw;
}

.resume {
    grid-row: 2;
    grid-column: 2/-1;
    font-size: 1.5vw;
    text-align: left;
    padding-left: 10px;
}

.resume a {
    color: #03232c;
    transition: 0.2s ease-in;
}

.resume a:hover {
    color: #0d032c;
    transition: 0.2s ease-in;
}


.date {
    grid-row: 3;
    grid-column: 2;
    font-size: 1.2vw;
    font-style: italic;
}

.statut {
    grid-row: 3;
    grid-column: 3;
    font-size: 1.2vw;
}

/*** Page du conseil ***/

.membresConseil {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 25vh;
    row-gap: 10vh;
    padding: 4vh 0 20vh 0;
    
}

.membresConseil:first-child {
    padding-top: 10px;
}

.membre {
    color: #edededb8;
    width: 60vw;
    height: 25vh;
    margin: 5vh auto 5vh auto;
    background-color: #042d3846;
    box-shadow: 0 0 10px #084C61be;
    border-radius: 50px 2px 50px 2px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    transition: 0.2s ease-out;

}

.membre:hover {
    transition: 0.2s ease-in;
    transform: scale(1.01);
}

.grade {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    font-size: larger;
}

.nom {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

.info {
    margin: 0;
    grid-column: 1;
    grid-row: 3;
    align-self: center;
}

.description {
    border-left: solid 1px #053442;
    margin: 0;
    grid-column: 2;
    grid-row: 1/-1;
    text-align: start;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

/*** Style de la page de présentation ***/

.aboutUsPage {
    display: grid;
    padding: 4vh 0 5vh 0;
}

.aboutUs {
    padding: 15px 20px 0 20px;
    color: #323031;
    margin: auto;
    border-radius: 2px;
    background-color: #042d3846;
    width: 60%;
    height: 100%;
}

.aboutUs p {
    text-align: justify;
}


/***    Style du bas de page     ***/

footer {
    background-color: #03232c;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    justify-content: center;
    align-content: center;
    gap: 20px;
}

footer a {
    color: #ededed;
}
