{{ define "main" }}
    <main class="membresConseil">
        <section>
            <h2>Membres du conseil:</h2>
            {{ range sort .Pages ".Weight" }}
                {{ if .Params.membre_actuel  }}
                <a class="clickInvisible" href="{{ .Permalink }}">
                    <div class="membre">            
                        <p class="titre">Grade: {{ .Params.Titre }}</p>
                        <p class="nom">Blason: {{ .Params.Nom }}</p>
                        <p class="niveau">Maison: {{ .Params.Niveau }}</p>
                        <p class="description">{{ .Params.Description }}</p>
                    </div>
                </a>
                {{ end }}
            {{ end }}
        </section>

        <section>
            <h2>Anciens membre</h2>
            {{ range sort .Pages }}
            {{ if not .Params.membre_actuel  }}
            <a class="clickInvisible" href="{{ .Permalink }}">
                <div class="ancienMembre">      
                    <p>{{ .Params.Nom }}</p>
                    <p>{{ .Params.Description }}</p>
                </div>
            </a>
            {{ end }}
        {{ end }}
        </section>
    </main>            
{{ end }}