{{ define "main" }}
    <main class="membresConseil">
            <h2>Membres du conseil:</h2>
            {{ range sort .Pages ".Weight" }}
                {{ if .Params.membre_actuel  }}
                    <div class="membre" onclick="location.href='{{ .Permalink }}';">            
                        <p class="grade">{{ .Params.Grade }}</p>
                        <p class="nom">{{ .Params.Nom }}</p>
                        <p class="niveau">{{ .Params.Niveau }}</p>
                        <p class="description">{{ .Params.Description }}</p>
                    </div>
                {{ end }}
            {{ end }}

            {{ $anciensMembres := where .Pages "Params.membre_actuel" false  }}
            {{ if $anciensMembres }}
            <h2>Anciens membre</h2>
                {{ range sort $anciensMembres }}
                        <div class="membre" onclick="location.href='{{ .Permalink }}';">      
                            <p class="grade"></p>
                            <p class="nom">{{ .Params.Nom }}</p>
                            <p class="niveau"></p>
                            <p class="description">{{ .Params.Description }}</p>
                        </div>
                {{ end }}
            {{ end }}
    </main>            
{{ end }}