<!DOCTYPE html>
<html lang="fr">
<head>
    <base href="{{ .Site.BaseURL }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
    <link rel="icon" href="media/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/palette1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
</body>
</html>