{{ define "main" }}
<main>
    <img class="logo" src="{{ .Site.Params.LogoBanniere }}">
    <h2>{{ .Site.Params.titreBanniere }}</h2>
    <p>{{ .Site.Params.descriptionBanniere }}</p>
    
    {{ partial "links" . }}

    <div class="presentation">
        <div class="side gauche"></div>

        <div class="pres">
            {{ .Content }}
        </div>

        <div class="side droit"></div>

    </div>
    
    {{ $contact := "/contact" | absURL  }}
    <button class="options" onclick="location='https\://www.helloasso.com/associations/societe-chevaleresque-des-programmeurs-37/adhesions/adhesion-2023-2024'"><p>S'inscrire ?</p></button>
    <button class="options" onclick="location='{{ $contact }}'"><p>Nous contacter</p></button>

    <div class="nextEvents">
        {{ with .Site.GetPage "page" "/events/" }}
            {{ $events := where .Pages "Params.en_cours" true  }}

            <h2 class="section">Prochains évènements</h2>
            {{ if $events }}
                <div class="currentEvents">

                    {{ range $events }}
                        <div class="event">
                            {{ $image := .Page.Resources.GetMatch "illustration.png" }}
                            {{ if $image }}
                                <img class="illustration" src="{{ $image.RelPermalink }}">
                            {{ else }}
                                <img class="illustration" src="{{ .Site.Params.LogoDefaut }}">
                            {{ end }}

                            <p class="titre">{{ .Title }}</p>
                            <p class="when">{{ .Date.Format "01-02-2006" }}</p>
                            <a class="more" href="{{ .Permalink }}">En savoir plus</a>
                        </div>
                    {{ end }}

                    <button class="avant" onclick="moveCarousel(event);"><</button>
                    <button class="apres" onclick="moveCarousel(event);">></button>
                    <script src="js/carousel.js"></script>
                </div>

            {{ else }}
                <p>Pas d'évènement prévu pour l'instant!</p>
            {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}