{{ define "main" }}
<main>
    <img class="logo" src="{{ .Site.Params.LogoBanniere }}">
    <h2>{{ .Site.Params.titreBanniere }}</h2>
    <p>{{ .Site.Params.descriptionBanniere }}</p>
    
    {{ partial "links" . }}

    <div class="presentation">
        <div class="side gauche"></div>

        <div class="pres">
            {{ .Content }}
        </div>

        <div class="side droit"></div>

    </div>

    <button class="options" onclick="location=''"><p>S'inscrire ?</p></button>
    <button class="options" onclick="location=''"><p>Nous contacter</p></button>

    <div class="nextEvents">
        <h2 class="section">Prochain évènement</h2>
        <div class="currentEvents">
            {{ range (where .Site.RegularPages "Section" "events")}}
            {{ if .Page.Params.En_cours }}
                <div class="event">
                    {{ $image := .Page.Resources.GetMatch "illustration.png" }}
                    {{ if $image }}
                        <img class="illustration" src="{{ $image.RelPermalink }}">
                    {{ else }}
                        <img class="illustration" src="{{ .Site.Params.LogoDefaut }}">
                    {{ end }}

                    <p class="titre">{{ .Title }}</p>
                    <p class="when">{{ .Date.Format "01-02-2006" }}</p>
                    <a class="more" href="{{ .Permalink }}">En savoir plus</a>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}