{{ define "main" }}
<main>
    <img class="logo" src="media/assoLogo.png">
    <h2>Bienvenue sur le site de la SCP37</h2>
    
    {{ partial "links" . }}

    <div class="presentation">
        <div class="side gauche"></div>

        <div class="pres">
            <h2>Qui sommes nous ?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aliquid, veniam provident unde tempore quos facere? Aspernatur blanditiis inventore recusandae explicabo possimus ipsam, exercitationem porro vel, quam et voluptate dolorum.</p>
        </div>

        <div class="side droit"></div>

    </div>

    <button class="register" onclick="location=''"><p>S'inscrire ?</p></button>

    <div class="nextEvent">
        <h2 class="section">Prochain évènement</h2>
        <div class="currentEvent">
            <img class="imageEvent" src="media/assoLogo.png">
            <h2 class="titreEvent">Event sympa</h2>
            <h2 class="date">01/01/2023</h2>
            <h3 class="resume">un event très très sympa</h3>
        </div>
</main>
{{ end }}