{{ define "main" }}
    <main class="events">
        {{ range .Pages }}
            <div class="singleEvent">
                {{ $image := .Page.Resources.GetMatch "illustration.png" }}
                {{ if $image }}
                    <img class="imageEvent" src="{{ $image.RelPermalink }}">
                {{ else }}
                    <img class="imageEvent" src="{{ .Site.Params.LogoDefaut }}">
                {{ end }}
                <p class="titreEvent">{{ .Title }}</p>
                <p class="resume">{{ .Summary }} <a href="{{ .Permalink }}">...en savoir plus ?</a></p> 
                
                <p class="date">{{ .Params.DateEvent }}</p>

                {{ if .Params.En_cours }}
                <p class="statut">En cours</p>
                {{ else }}
                <p class="statut">Fini</p>
                {{ end }}
            </div>
        {{ end }}
    </main>
{{ end }}